[submodule "vender/glfw"]
	path = vender/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vender/spdlog"]
	path = vender/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vender/vk-bootstrap"]
	path = vender/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "vender/vma"]
	path = vender/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
